h1 {
  text-align: center;;
}
h2 {
  text-align: center;
  color: #33CEFF;
  text-decoration: underline;
}
.csharp {
  display: none;
}
.ruby {
  display: none;
}
.php {
  display: none;
}
#intro {
  font-size: 18px;
}
h3 {
  color: red;
  text-decoration: underline;
  text-align: center;
}
li {
  font-size: 16px;
}
.questions {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
}
